{{template "base" .}}

{{ define "content" }}
    <!-- carousel -->
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/coffee.jpg" class="img-fluid img-thumbnail mx-auto d-block room-img" alt="Gens Quarter">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Contact Us</h1>
                <h5 class="text-center text-muted">Reach Us</h5>
                <p>
                    At HotelGo, we believe that your travel experience should be as effortless as possible. Whether
                    you're planning a weekend getaway, a business trip, or a family vacation, our platform connects you
                    with the perfect accommodations tailored to your needs.
                </p>

            </div>
            
        </div>
    </div>
{{ end }}