{{ template "base" .}}


{{ define "content" }}

<!-- rooms carousel -->
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/coffee.jpg" class="img-fluid img-thumbnail mx-auto d-block room-img"
                alt="Gens Quarter">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Welcome to Generals Quarter</h1>
            <h5 class="text-center text-muted">Your Gateway to Seamless Stays</h5>
            <p>
                At HotelGo, we believe that your travel experience should be as effortless as possible. Whether
                you're planning a weekend getaway, a business trip, or a family vacation, our platform connects you
                with the perfect accommodations tailored to your needs.
            </p>

        </div>
        <div class="text-center">
            <button class="btn btn-info" id="check-availability-button">Check Availability</button>
        </div>
    </div>
</div>

{{ end }}

{{ define "js"}}
       <script>
        // let attention = new Prompt();
      

        const elem2 = document.getElementById('check-availability-button');

        elem2.addEventListener('click', () => {
            // attention.error({msg: "from Nicholas.."});
            let html = `
              <form action="/reservations" class="needs-validation" id="reservation-dates-modal" novalidate>
                    <div class="row" id="reservation-dates">
                        <div class="col-md-6">
                            <input type="text" disabled name="start" class="form-control" id="start_date" placeholder="Checkin Date">
                        </div>
                        <div class="col-md-6">
                            <input type="text" disabled name="end" class="form-control" id="end_date" placeholder="Checkout Date">
                        </div>
                    </div>
                    
                </form>
            `

            attention.SearchAvailability({
                msg: html,
                title: "Check Availability",

                willOpen: () => {
                        const elem = document.getElementById('reservation-dates-modal');
                        const rangepicker = new DateRangePicker(elem, {
                            format: 'yyyy-mm-dd',
                            showOnFocus: true,
                        })
                    },
                didOpen: () => {
                    // remove intput disabled attribute
                    document.getElementById('start_date').removeAttribute('disabled');
                    document.getElementById('end_date').removeAttribute('disabled');


                },
                callback:  function(formValues) {
                    console.log("Called...");

                    let form = document.getElementById('reservation-dates-modal');
                    let formData = new FormData(form);
                    formData.append('csrf_token', "{{.CSRFToken}}");

                    fetch("/search-avalibility-json", {
                        method: "POST",
                        body: formData,
                    })

                        .then(response => response.json())
                        .then(data => {
                            console.log(`data: ${JSON.stringify(data)}`);
                            console.log(data.message);
                        })
                }
            });
        })
        </script>

 
{{ end}}