{{ template "base" .}}

{{ define "content"}}

        <!-- carousel -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/static/images/coffee.jpg" class="img-fluid img-thumbnail mx-auto d-block room-img" alt="Gens Quarter">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Welcome to Majors Quarter</h1>
                    <h5 class="text-center text-muted">Your Gateway to Seamless Stays</h5>
                    <p>
                        At HotelGo, we believe that your travel experience should be as effortless as possible. Whether
                        you're planning a weekend getaway, a business trip, or a family vacation, our platform connects you
                        with the perfect accommodations tailored to your needs.
                    </p>
    
                </div>
                <div class="text-center">
                    <a href="#" id="check-availability-button" class="btn btn-info">Check Availability</a>
                </div>
            </div>
        </div>
        
{{ end }}

{{ define "js"}}
<script>
    const elem2 = document.getElementById('check-availability-button');

elem2.addEventListener('click', () => {
    // attention.error({msg: "from Nicholas.."});
    let html = `
      <form action="/reservations" class="needs-validation" id="reservation-dates-modal" novalidate>
            <div class="row" id="reservation-dates">
                <div class="col-md-6">
                    <input type="text" disabled name="start" class="form-control" id="start_date" placeholder="Checkin Date">
                </div>
                <div class="col-md-6">
                    <input type="text" disabled name="end" class="form-control" id="end_date" placeholder="Checkout Date">
                </div>
            </div>
            <div class="form-group mt-5">
                <button type="submit" class="btn btn-primary">Search Availability</button>

            </div>
        </form>
    `

    attention.SearchAvailability({
        msg: html,
        title: "Check Availability"
    });
})
</script>
{{ end }}
